@font-face {
    font-family: 'Digital';
    src: url('digital-7\ \(mono\).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313eb;
    height: 100vh; /* to align the content in center */
}

.container {
    height: 675px;
    width: 475px;
    background-color: rgba(198, 130, 232, 0.850);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /*for even gaps between the containers*/
    align-items: center;
    border-radius: 10px;
}

.screen {
    height: 125px;
    width: 400px;
    background-color: #000000;
    border: 3px solid rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    overflow: hidden;
}

.calculate {
    height: 120px;
    width: 350px;
    background-color: #000000;
    border: none;
    color: aliceblue;
    font-family: 'Digital', sans-serif;
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
                                                
}

.operator {
    font-size: 48px;
    font-family: 'Digital', sans-serif;
    color: aliceblue;
    align-self: flex-end;
    margin-right: 0.3em;
    
}

.buttonGrid {
    /* height: 450px;
    width: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.buttonRow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 400px;
}

.button {
    height: 80px;
    width: 90px;
    background-color: rgba(9, 5, 5, 0.2);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 35px;
    color: rgba(23, 23, 22, 0.756);
    font-size: 32px;
    text-align: center;
}

.function {
    background-color: rgba(9, 5, 5, 0.41);
    color:#000000
}

.function >sup {
    font-size: 20px;
}
.equals {
    background-color: rgba(46, 36, 235, 0.403);
    color: aliceblue;
}

.ac {
    background-color: rgba(255, 0, 0, 0.489);

    color: rgba(240, 248, 255, 0.725);
}

.back {
    font-size: 46px;
}

.button:hover{
    box-shadow: inset 0 0 0 50px rgba(198, 130, 232, 0.925);
}

.button:active{
    box-shadow: inset 0 0 0 50px rgba(198, 130, 232, 0.5);
}

.ac:hover{
    box-shadow: inset 0 0 0 50px rgba(255, 0, 0, 0.925);
}

.ac:active{
    box-shadow: inset 0 0 0 50px rgba(255, 0, 0, 0.5);
}

.equals:hover{
    box-shadow: inset 0 0 0 50px rgba(46, 36, 235, 0.70);
}

.equals:active{
    box-shadow: inset 0 0 0 50px rgba(46, 36, 235, 0.20);
}
